extends layout

block content
	h1 limitlessLED
	You order #{title}
	form(method="get",action="/led")
		select(name="action")
			-for(var i=0;i<key_set.length;i+=1){
				option(value=key_set[i]) #{key_set[i]}
			-}
		p 発動時間[ms] : 
			input(type="number", step="1", name="time", value=1000)
		p いんたーばる[ms] : 
			input(type="number",step="1", name="interval", value=100)
		button(type="submit") do it
